.img1{
    height: 100%;
    width: 100%;
    max-width: 500px;
}

@media(max-width: 1200px){
    .img1{
        height: 340px;

    } 
}

.box_big{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
}

.box1{
    width: 45%; 
    min-width:422px ;
}
.item{
    width: 30%;  
}
.item_text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;  
}

.otziv{
    display: flex;
    flex-direction: column;
}

.aro{
    width: 100px;
    height: 100px;
    border-radius:50px ;
}

@media(max-width: 992px){
    .box_big{
        justify-content: center;       
    } 
    .box1{
        width: 100%; 
    }

    .box1_none{
        display: none;
    }
    .item_text{
        justify-content: center; 
    }
    .item{
        width: 100%;  
    }
}

.fon1{
    background: url('full_A1.jpg') no-repeat;
    background-size: cover;
    height: 400px;
    
}

.fon2{
    background: url('full_k.jpg') no-repeat;
    height: 600px;
    background-size: cover;
}